.container_16
  .grid_16
    %h2 New recipient
    .default-padding
      - semantic_form_for (@recipient) do |form|
        = form.error_messages
        - form.inputs do
          = form.input :firstname, :label => "First Name"
          = form.input :lastname, :label => "Last Name"
          = form.input :category_id, :as => :select, :collection => {"Sick" => 1, "Poor" => 2}
          = form.input :banner_path, :label => "Banner Path (optional)", :required => false          
        = form.buttons
.clear
