<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Targeted Help - Home</title>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "960" %>
    <%= javascript_include_tag "fontjazz" %>
    <%= javascript_include_tag "bluefont" %>
</head>
<body>

	<div id="main">
    	<div id="top">
	    image_tag ("targetedhelp.gif", style="float: left;")
            <div id="menu">
            	<ul>
                    <li><%= link_to image_tag("menu/home.gif"), :action => 'index' %></li>
                    <li><%= link_to image_tag("menu/people.gif"), :action => 'people' %></li>
                    <li>image_tag ("menu/ministries.gif") </li>
		    <li>image_tag ("menu/microbusinesses.gif") </li>
                    <li>image_tag ("menu/search.gif") </li>
                </ul>
            </div>
        </div>
        image_tag ("about-banner.gif")
        <div id="middle">
        
            <div class="container_16" style="background: none;">
              <div class="grid_16" style="line-height: 23px;">
                  <h2>The Critical Role (and Heavy Cost) of Information</h2>
                  
<p>Ask any economist. Information is the key to the modern economy. Economists refer to the inefficiencies that accompany any exchange as "transactions costs," and the cost of information is often one of the most important costs of a transaction. To a significant degree, a region prospers as the deadweight of the cost of information falls. And, as it turns out, this small truth about economic exchange is applicable across the entire spectrum of human interaction. The easy flow of information not only fosters economic activity and prosperity; it also fosters communities and many other worthy social goals. In this age of information, we have seen a sprouting of many internet communities that could have never come together if the transcaction costs of information had been higher.</p>

<p>Yet the cost of information continues to dominate the patterns of charitable giving in many ways. For instance, our information about people in need is "asymmetric." Givers know much, much less about the people who receive donations that charitable organizations know. To some degree this is a completely natural phenomenon. It is a case of what social scientists call "rational ignorance." In most cases, it is simply not rational for the individual giver to become completely informed about the people whom he or she gives helps. There are not enough hours in the day. And that is the function of a charity, after all. They search for and find needy people and report those needs to people who have the gift of giving. A "rational" giver, then, is someone who finds a charity that the giver trusts and donates to the charity. Of course, trust is also an information problem. We can read what others say about a charity. We can investigate to see which charities are well-administered. We can read anecdotal stories about the good works they have done. This kind of research ought to be enough for a reasonable person, no doubt, but it still represents a posture of "rational ignorance." We look for indicators of effectiveness and trustworthiness and then divert our attention to something else.</p>

<p>There's nothing wrong with this model. Many charities are very trustworthy. But this model leads to a series of unintended consequences. For one thing, it burdens the charity with a giant "trust earning" mission, and what earns trust is not always precisely equivalent to doing the best possible job for the neediest people. The charity has more information than the giver, and may see an opportunity to spend money in an especially effective way, but cannot, because of the concern about trust. I know a charitable organization that recently issued a directive telling field workers to make absolutely certain that recipients of their largesse were not receiving benefits from any other charity. Apparently, the name of a recipient had been used by two different charities seeking funds and this lead to an embarrassing interchange with a scandalized donor. Broad guidelines that are intended to *replace* detailed information always have this effect. Sooner or later they become a straightjacket. Ignorance is not free, even rational ignorance. Whenever we choose to disengage ourselves from the details, there are consequences.</p>

<p>Furthermore, the "trust earning" mission of any large charity is expensive. Charities inevitably have large administrative costs. But on top of that, they have huge marketing costs. They must "get out the message." Marketing is necessary, but most of us feel instinctively that it is a deadweight transaction cost. We wish there were a way to avoid it, so that the money we give will reach the needy, rather than dissipate in campaigns to acquire more donors.</p>

<p>Yet the most regretable waste of all is not the deadweight cost of earning trust, but the failure to fully leverage the detailed information that charitable organizations have about the needy people they serve. We often talk of "administrative costs" as a deadweight burden (like marketing costs), but administrative costs include the salaries of charity workers on the ground, and these  people are taking in large amounts of valuable information. They use that information to do their jobs, but their knowledge is underutilized. The community of givers could leverage that knowledge to do much, much more than we are doing. The potential is huge.</p>

<p>Let me give you an example. I have a friend who is the leader of a project sponsored by the christian NGO, World Vision. After observing his work over the years, I am convinced that he does his very best work when he is channeling information between donors and recipients, often uncovering resources that noone was aware of. The World Vision program is marvelous and does a lot of good, but World Vision workers do not have the budget to address every need they encounter. So when they see a serious need they cannot address, they start looking for some person or institution that can address it, and some of them have gotten pretty good at this game. My friend knew a family of twelve that had met with a bizarre a series of tragic freak accidents. The father of the family was bitten by a poisonous snake while cutting sugar cane. He did not go to the doctor to be treated for lack of money, his leg became gangrenous and he lost it. This deprived him of his livelihood, because he could not cut sugar cane with one good leg, so the job of supporting the family passed to his oldest son. Not long afterwards, his son had an accident with a machete, failed to go to the doctor and, like his father, lost a leg. At this point, this large family had no source of provision other than the crafts that the women would make and sell. The mission of World Vision is sponsorship of children, and they found sponsors for the children in this family. But they also starting calling around to see who might help the father and oldest son. They eventually found a hospital willing to donate prostheses to both men.</p>

<p>What if this World Vision worker had been able to publish this need on an international forum? A website that givers all over the world might use to give specific kinds of targeted help to individuals with very specific needs? </p>

<p>If such a website existed, then perhaps a donor would volunteer to pay for a prosthesis quickly, and this World Vision worker's time and energies could be refocused elsewhere. The World Vision worker's knowledge would cease to be an underutilized resource. His time, schedule and limited budget would cease to be a bottleneck, because the giving community would deploy its resources to address this particular need. The giving enterprise would benefit from network effects, like Wikipedia. The giving community would start to look more like a beehive, rather than a few lone rangers. It would start to enjoy some of he same efficiencies collective information exchange that internet communities already enjoy in areas like computer programming.</p>

<p>The information of charity workers is a kind of "dead capital" to use a phrase coined by development economist Hernando de Soto. It is time that we leveraged that informational capital more effectly. We must shift from the heroic lone missionary model to the community model. If we want to change the world, then we need to involve the world. Information is the key. TargetedHelp.org would like to make a small contribution to the free flow of information among giving people.</p>
				</div>
			<div class="clear"></div>
		</div>
    </div>
 	<div id="footer-1col">
    	&nbsp;
    </div>
	  <script type="text/javascript">
	  	 FontJazz.apply("h2", "bluefont");
	  </script>
</body>
</html>
