<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Targeted Help - Home</title>
    <%= stylesheet_link_tag "main" %>
    <%= stylesheet_link_tag "960" %>
    <%= stylesheet_link_tag "lightbox" %>
    <%= javascript_include_tag "fontjazz" %>
    <%= javascript_include_tag "bluefont" %>
    <%= javascript_include_tag "prototype" %>
    <script src="javascripts/scriptaculous.js?load=effects,builder" type="text/javascript"></script>
    <%= javascript_include_tag "lightbox" %>

</head>
<body>

	<div id="main">
    	<div id="top">
	    image_tag ("images/targetedhelp.gif", style="float: left;")
            <div id="menu">
            	<ul>
                    <li><%= link_to image_tag("menu/home-selected.gif"), :action => 'index' %></li>
                    <li><%= link_to image_tag("menu/people.gif"), :action => 'people' %></li>
                    <li>image_tag ("menu/ministries.gif") </li>
		    <li>image_tag ("menu/microbusinesses.gif") </li>
                    <li>image_tag ("menu/search.gif") </li>
                </ul>
            </div>
        </div>
        image_tag ("images/bannersilvia.gif")
        <div id="middle">
            <div class="container_16">
              	<div class="grid_10">
                	<div class="person-item" style="background: none; padding-top: 0px;">
                        <h2>Description</h2>
                        <div class="person-item-content">
                            <p></p>
                            <p><b>Name:</b> Silvia Tlaxcala Xicalhua</p>
                            <p><b>Family:</b></p>
                            <p style="text-indent:2em"><b>Mother:</b> Antonia</p>
                            <p style="text-indent:2em"><b>Father:</b> <font color="#FF0000">Missing Information</font></p>                            
                            <p><b>Family Economics:</b></p>
                            <div style="margin-left:2em">Mother makes vases from lumps of clay (see picture in gallery). 
                            She pays $50 pesos for each lump of clay, and each lump of clay yields 2 
                            <font color="#FF0000">Missing Information</font> vases, which she then sells for 60 pesos 
                            <font color="#FF0000">Missing Information</font>. It takes Antonia half a day 
                            <font color="#FF0000">Missing Information</font>to make a vase, which means that if she sells it, 
                            she will earn 35 pesos <font color="#FF0000">Missing Information</font> for a half days work.</div>
                            <p></p>
                            <p></p>
                        </div>
					</div>
                	<div class="person-item">
                        <h2>Needs</h2>
                        <div class="person-item-content">
                            <p></p>
                            <p><b>Description of Illness:</b></p>
                            <div style="margin-left:2em">Silvia's parents have always believed that she was a deaf-mute, 
                            but Silvia did not receive a proper diagnosis. She might be "legally deaf," 
                            to use the technical term, but it would be more accurate to say that she 
                            has very severely impaired hearing. Because she could not hear, she never learned to talk. 
                            She only makes grunts. But recently, some time after her 6th birthday, 
                            someone discovered that she had some vestigial hearing and recommended therapy.
                            </div> 
                            <p></p>
                            <p></p>
                            <p><b>Treatment Required:</b></p>
                            <div style="margin-left:2em">Silvia's parents, who live in a rural mountain village near Atlahuilco, 
                            are now taking her to the nearest city, Orizaba, for treatments at the 
                            "Rehabilitation Center" associated with Universidad Veracruzana, 
                            but with their extremely limited family economy, they can not afford the 
                            bus trips and have had to settle for occasional visits rather than the 
                            frequent visits that the doctor ordered.</div>
                            <p>When Silvia is able to attend therapy sessions, she receives:</p> 
                            <ul style="margin-left:2em">
                            	<li type="disc">Sign language training</li>
                            	<li type="disc">Speech therapy</li>
                            	<li type="disc">Basic education</li> 
                            </ul>
                            <p></p>
                            <p>Prior to the therapies, she had never attended school.</p>
                        </div>
						<p></p>
                        <p><b>Financial Need</b></p>
                        <div style="margin-left:2em">
                            Silvia's parents incur two costs related to her therapies:
                            <p></p>
                            <ul style="margin-left:2em">
                            	<li type="disc">$100 pesos per month in fees</li>
                            	<li type="disc">$180 pesos per trip in bus tickets and other trip expenses</li>
                            </ul>
                            <p></p>
                            The bus trip is slow and the Tlaxcala family has to change buses several times. 
                            Bus tickets for the entire round trip add up to about $100 pesos and the trip
                            absorbs an entire day, so Antonia loses a day of work and the income from that.
                            Furthermore, they must spend about $80 pesos on food, unless they decide to just
                            go without, which they often do. Thus the total cost for a single trip is $180.
                            World Vision donates $60 pesos per month to these expenses, but the doctor wants
                            Silvia to take multiple treatments per week. This kind of expense is way beyond
                            the financial reach of the Tlaxcala family, even with the help they receive from
                            World Vision.
                            <br/>
                            <br/>
                        </div>
					</div>
                	<div class="person-item">
                        <h2>Photos</h2>
                        <div class="person-item-content">
                           	<div class="person-thumbnail">
                                <a href="images/people/silvia/1.jpg" rel="lightbox[gallery]">
                                    image_tag ("images/people/silvia/thumb1.jpg")
                                </a>
							</div>
                           	<div class="person-thumbnail">
                                <a href="images/people/silvia/2.jpg" rel="lightbox[gallery]">
                                    image_tag ("images/people/silvia/thumb2.jpg")
                                </a>
                            </div>
                           	<div class="person-thumbnail">
                                <a href="images/people/silvia/3.jpg" rel="lightbox[gallery]">
                                    image_tag ("images/people/silvia/thumb3.jpg")
                                </a>
                            </div>
                           	<div class="person-thumbnail">
                                <a href="images/people/silvia/4.jpg" rel="lightbox[gallery]">
                                    image_tag ("images/people/silvia/thumb4.jpg")
                                </a>
                            </div>                                                   
                        </div>
					</div>
				</div>
                
                <div class="grid_6 col2" >
                    <div class="column2-title col2-content">
                        <h2>Google Wave</h2>
                 	</div>
		    image_tag("wavetemp.gif", style="padding-left: 70px; padding-top: 10px;")
             	</div>  
            </div>
	<div class="clear"></div>
	</div>
    </div>
 	<div id="footer">
    	&nbsp;
    </div>
	  <script type="text/javascript">
	  	 FontJazz.apply("h2", "bluefont");
	  </script>
</body>
</html>
